body {
    background-color: rgb(250, 247, 247);       
}

h1 {
    color: rgb(193, 12, 12);
    text-align: center;
}

.bgdark {
    background-color: #333;
    color: black;
    padding: 50px, 20px 20px, 20px;
}

.border-parargraph {
    border: 20px double black;
    border-radius: 15px;
    padding: 20px;

}

.padding {
    padding: 20px;   
    margin: 20px;
    border: 5px solid gray; 
}

.margin {
    margin: 20px;
    border: 5px solid rgb(18, 15, 242);
}

img{

    width: 50%;
}

#bg_image {
    background-image: url("../assets/img/El_gatoo.jpg");    
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
}

#display{

    display: flex;
    justify-content: center;

}

.nav_grid{
    grid-column-start: 1;
    grid-column-end: 4;
}

.content_grid{
    grid-column-start: 1;
    grid-column-end: 3;
}

.sidebar_grid{
    grid-column: 3;
    grid-row-start: 2;
    grid-row-end: 5;
}

.footer_grid{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: black;
    color: black;
}


.flex_container {
    display: flex;
    background-color: red;
    justify-content: center;
    flex-direction: row;
}

.flex_container div {
    background-color: rgb(5, 230, 246);
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

@media print{
    img{
        display: none;
    }

    blocqkquote{
        font-size: 50px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    img{
        width: 50%;
    }
}   

@media (min-width:320px) and (max-width: 480px) {
    img{
        width: 100%;
        background-color: yellow;
    }
}  